<?xml version="1.0" ?>
<config>
     <modules>
          <BootCamp_Vendors>
               <version>0.1.1</version>
          </BootCamp_Vendors>
     </modules>
     <frontend>
          <layout>
               <updates>
                    <bootcamp_vendors module="Bootcamp_Vendors">
                         <file>bootcamp_vendors.xml</file>
                    </bootcamp_vendors>
               </updates>
          </layout>
          <routers>
               <vendors>
                    <use>standard</use> 
                    <args>
                         <module>BootCamp_Vendors</module>
                         <frontName>vendors</frontName>
                    </args>
               </vendors>     
          </routers>
     </frontend>
     <global>
          <models>
               <vendors>
                    <class>BootCamp_Vendors_Model</class>
                    <resourceModel>vendors_resource</resourceModel>
               </vendors>
               <vendors_resource>
                    <class>BootCamp_Vendors_Model_Resource</class>
                    <entities>
                         <bootcamp_vendor>
                              <table>vendors_bootcamp_vendor</table>
                         </bootcamp_vendor>
                         <bootcamp_vendor_warehouse>
                              <table>vendors_bootcamp_vendor_warehouse</table>
                         </bootcamp_vendor_warehouse>
                         <bootcamp_vendor_warehouse_product>
                              <table>vendors_bootcamp_vendor_warehouse_product</table>
                         </bootcamp_vendor_warehouse_product>
                         <bootcamp_assoc_vendor_warehouse>
                              <table>vendors_bootcamp_assoc_vendor_warehouse</table>
                         </bootcamp_assoc_vendor_warehouse>
                    </entities>
               </vendors_resource>
          </models>
          <resources>
               <vendors_setup>
                    <setup>
                         <module>BootCamp_Vendors</module>
                         <class>BootCamp_Vendors_Model_Resource_Setup</class>
                    </setup>
               </vendors_setup>
          </resources>
          <events>
               <controller_front_init_before>
                    <observers>
                         <bootcamp_vendors_log_observer>
                              <type>singleton</type>
                              <class>Bootcamp_Vendors_Model_Log_Observer</class>
                              <method>log_handle</method>
                         </bootcamp_vendors_log_observer>
                    </observers>
               </control_front_init_before>
          </events>
     </global>
</config>